.carousel{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.carousel_images{
    width: 100%;
    height: 220px;
}

.carousel_arrow{
    cursor: pointer;
}